
              <div class="container" align="center">
                <div class="jumbotron">
                    <h1>SPRTAN_FIT</h1>
                    <p>up to date movies information</p>
                    <a class="btn btn-primary btn-lg" href="/addmovie" role="button">Add Exercise</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a class="btn btn-primary btn-lg" href="/listmovies" role="button">List Exercise</a>
               </div>
          </div>






          .container .jumbotron{
            margin-top:200px;
            background: orange;
            color:white;
            font-family: 'Merriweather', serif;
          }
          table,tr,td,thead,th{
            border:2px solid white;
            font-size: 30px;
            color:white;
            background:red;
            margin:auto;
          }
          thead,th{
            border:2px solid red;
            font-size: 30px;
            color:blue;
            margin:auto;
            background:yellow;
          }
          h1{
            text-align: center;
          }
