<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
<title>SPARTAN_FIT</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="SportFIT template project">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/png" href="{% static "images/logo-icon1.jpg" %}">



<link rel="stylesheet" type="text/css" href="{%static "styles/bootstrap-4.1.2/bootstrap.min.css" %}">

<link href="{%static "plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"%}">

<link rel="stylesheet" type="text/css" href="{%static "MEDITATION/meditation1.css" %}">

<!-- CSS Files -->
<link rel="stylesheet" href="{% static "css/movie1.css"%}">
<link rel="stylesheet" href="{% static "extra/sse.css"%}">
<link rel="stylesheet" href="{% static "css/reset.css" %}">
<link rel="stylesheet" href="{% static "css/animate.min.css">

</head>
<body>


	    <section id="navigation" class="dark-nav">
	    <!-- Navigation -->
	      <!-- Navigation Inner -->
	      <div class="nav-inner">
	        <!-- Site Logo -->
	        <div class="site-logo Sanserif">
	          <a href="#" id="logo-text" class="scroll logo">SPARTAN FITNESS
	          </a>
	        </div><!-- End Site Logo -->
	        <a class="mini-nav-button gray2"><i class="fa fa-bars"></i></a>
	        <!-- Navigation Menu -->
	          <div class="nav-menu">
	          <ul class="nav uppercase">
	            <li><a href='/service.html' class="scroll">Home</a></li>
	            <li><a href='/food.html/' class="scroll">About us</a></li>
	            <li><a href='/blog' class="scroll">BLOG</a></li>
							<li><a href='/MeditationR' class="scroll">REGISTER</a></li>
					  </ul>
	        </div><!-- End Navigation Menu -->
	      </div><!-- End Navigation Inner -->
	    </section><!-- End Navigation Section -->




	<!-- Home -->

	<div class="home">
		<div class="background_image" style="background-image:url('https://images.unsplash.com/photo-1539767757354-89d5371af5c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">MEDITATION</div>
							<div class="home_subtitle">Nanda Yoga,Gazing meditation,Chakra meditation & many more</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Blog -->

	<div class="blog">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container">
						<div class="section_subtitle">welcome to spartan_fit</div>
						<div class="section_title">SIMPLE MEDITATION</div>
					</div>
				</div>
			</div>
			<div class="row blog_row">

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "MEDITATION/M2.jpg" alt="" %}"></div>
						<div class="blog_post_title"><a href="#"> MEDITATION PREPARATION</a></div>
						<div class="blog_post_text">
							<p>	If you are reading this then you are alive. You have a life. You’ve been given one. Just one. But with no instruction manual. You’ve also been given a mind – the most sophisticated tool on this planet and this too with no instruction manual. And all of us who have been given a life and a mind are expected to figure out what to do with both in this finite time that we are here on this planet. </p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "MEDITATION/M1.jpg" alt="" %}"></div>
						<div class="blog_post_title"><h3>INNER PEACE</h3></div>
						<div class="blog_post_text">
							<p>A spiritual journey always provides a little challenge. If it was easy to plan and organize, it would be a vacation—not a spiritual adventure. Very little personal change comes from a vacation, whereas a spiritual journey that is well prepared, considering both the mental and the physical, can bring about great personal growth.</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "MEDITATION/M3.jpg" alt="" %}"></div>
						<div class="blog_post_title"><a href="#">Meditation requires Effort</a></div>
						<div class="blog_post_text">
							<p>Effort is not something a lot of people associate the process of meditation with. Meditation is often mistakenly believed to be synonymous with relaxation, letting go, just being, observing and all those not very well understood concepts. True meditation requires tremendous effort. It is a display of your will over your physical body, over your mind and emotions. It is a state of alertness.</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "MEDITATION/M4.jpg" alt="" %}"></div>
						<div class="blog_post_title"><h3>Breaths Awareness Meditation</h3></div>
						<div class="blog_post_text">
							<p>Meditation is an approach to training the mind, similar to the way that fitness is an approach to training the body. But many meditation techniques exist — so how do you learn how to meditate?</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "MEDITATION/M5.jpg" alt="" %}"></div>
						<div class="blog_post_title"><h3>Meditation Mantra</h3>></div>
						<div class="blog_post_text">
							<p>A mantra is a syllable or word, usually without any particular meaning, that is repeated for the purpose of focusing your mind. It is not an affirmation used to convince yourself of something.</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "MEDITATION/M6.jpg" alt=""%}"></div>
						<div class="blog_post_title"><a href="#">Body scan or progressive relaxation</a></div>
						<div class="blog_post_text">
							<p>That buzzing is exactly why we need meditation now more than ever. With our busy lives and the often welcome (yet unfulfilling) distractions technology provides, it’s important to make time to simply sit with your thoughts.</p>
						</div>
					</div>
				</div>






				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "MEDITATION/M7.jpg" alt=""%}"></div>
						<div class="blog_post_title"><h3>Loving-kindness meditation</h3></div>
						<div class="blog_post_text">
							<p>Increased Relaxation Lower Stress Levels.Improved Concentration.Slow Aging Process.Encourages a Healthy Lifestyle.Increased Self Awareness.Increased AcceptanceImproved Blood Pressure</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "MEDITATION/M8.jpg" alt="" %}"></div>
						<div class="blog_post_title"><a href="#">Self Regime.</a></div>
						<div class="blog_post_text">
							<p>Improved Immune System.Extra Energy.Low Anxiety Levels.More Emotional Stability.Lower Chance of Getting Depression.Improved Focus & Decision Making
Increased Compassion.Higher Self-Esteem</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "MEDITATION/M9.jpg" alt="" %}"></div>
						<div class="blog_post_title"><h3>Yoga Meditations </h3></div>
						<div class="blog_post_text">
							<p>Meditation is an invaluable resource that you can help you in every aspect of your life.Starting your day with a few minutes of quiet each day will allow.you to experience greater calm, focus and energy every day</p>
						</div>
					</div>
				</div>

      <!22222222222222.................................>

		 <div class="blog">
		 	<div class="container">
		 		<div class="row">
		 			<div class="col">
		 				<div class="section_title_container">
		 					<div class="section_title"> ADVANCED MEDITATION.</div>
		 				</div>
		 			</div>
		 		</div>
		 		<div class="row blog_row">

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "MEDITATION/M11.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><a href="#">Mindfulness meditation<a></div>
		 					<div class="blog_post_text">
		 						<p>Lie back on a flat bench. Using a close grip (around shoulder width), lift the bar from the rack and hold it straight over you with your arms locked. This will be your starting position.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "MEDITATION/M12.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><a href="#"> Breath awareness meditation</a></div>
		 					<div class="blog_post_text">
		 						<p>GIn Eastern traditions (Hinduism, Buddhism, Jainism, Daoism) meditation is usually practiced with the purpose of transcending the mind and attaining enlightenment. On the other hand, in the Christian tradition.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "MEDITATION/M14.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><a href="#">CHRISTIAN MEDITATION</a></div>
		 					<div class="blog_post_text">
		 						<p>For this exercise you will need access to parallel bars. To get yourself into the starting position, hold your body at arms length (arms locked) above the bars.While breathing in, lower yourself slowly with your torso leaning forward around 30 degrees.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "MEDITATION/M17.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><a href="#">Kundalini yoga</a></div>
		 					<div class="blog_post_text">
		 						<p>Lie back on an incline bench with a dumbbell on each hand on top of your thighs. The palms of your hand will be facing each other.By using your thighs to help you get the dumbbells up, clean the dumbbells one arm at a time so that you can hold them at shoulder width.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "MEDITATION/M15.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><h3>Zen meditation </h3></div>
		 					<div class="blog_post_text">
		 						<p>Start out by placing a barbell on one side of a flat bench.Kneel down on both of your knees so that your body is facing the flat bench.Use your arms to grab the barbell with a pronated grip (palms down) and bring them up so that your forearms are resting against the flat bench.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "MEDITATION/M18.jpg" alt=""%}"></div>
		 					<div class="blog_post_title"><a href="#"> SUFI MEDITATION</a></div>
		 					<div class="blog_post_text">
		 						<p>To begin, stand up with a dumbbell held in one hand. Your feet should be about shoulder width apart from each other. Now fully extend the arm with the dumbbell over your head. Tip: The small finger of your hand should be facing the ceiling and the palm of your hand should be facing forward. The dumbbell should be above your head.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "MEDITATION/M19.jpg" alt=""%}"></div>
		 					<div class="blog_post_title"><a href="#">Transcendental Meditation</a></div>
		 					<div class="blog_post_text">
		 						<p>Grab a straight bar or E-Z bar attachment that is attached to the low pulley with both hands, using an underhand (palms facing up) shoulder-width grip.Lie flat on your back on top of an exercise mat in front of the weight stack with your feet flat against the frame of the pulley machine and your legs straight.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "MEDITATION/M21.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><a href="#">Vipassana Meditation</a></div>
		 					<div class="blog_post_text">
		 						<p>Start out by placing a flat bench in front of a low pulley cable that has a straight bar attachment.Use your arms to grab the cable bar with a narrow to shoulder width supinated grip (palms up) and bring them up so that your forearms are resting against.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "MEDITATION/M22.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><a href="#">GUIDED MEDITATIONS</a></div>
		 					<div class="blog_post_text">
		 						<p>Guided meditationGuided Meditation is, in great part, a modern phenomenon. It is an easier way to start, and you will find guided meditations based on several of the above traditions.The practice of meditation requires some dose of determination and will-power</p>
		 					</div>
		 				</div>
		 			</div>








							 <div class="blog">
							 	<div class="container">
							 		<div class="row">
							 			<div class="col">
							 				<div class="section_title_container">
							 					<div class="section_title">DEEP MEDITATION</div>
							 				</div>
							 			</div>
							 		</div>
							 		<div class="row blog_row">

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "MEDITATION/M23.jpg" alt="" %}"></div>
							 					<div class="blog_post_title"><a href="#">CHINESE MEDITATION</a></div>
							 					<div class="blog_post_text">
							 						<p>Daoism is a Chinese philosophy and religion, dating back to Lao Tzu (or Laozi). It emphasizes living in harmony with Nature, or Tao, and it’s main text is the Tao Te Ching, dating back to 6th century B.C. Later on some lineages of Taoism were also influenced by Buddhist meditation practices.</p>
							 					</div>
							 				</div>
							 			</div>

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "MEDITATION/M24.jpg" alt="" %}"></div>
							 					<div class="blog_post_title"><h3>Visualization </h3></div>
							 					<div class="blog_post_text">
							 						<p>Breathing meditation (Zhuanqi) — to focus on the breath, or “unite mind and qi”. The instruction is “focus your vital breath until it is supremely soft”. Sometimes this is done by simply quietly observing the breath (similar to Mindfulness Meditation in Buddhism)</p>
							 					</div>
							 				</div>
							 			</div>

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "MEDITATION/M25.jpg" alt="" %}"></div>
							 					<div class="blog_post_title"><h3> Zazen</h3></div>
							 					<div class="blog_post_text">
							 						<p>Zazen is the Zen Buddhist practice of seated meditation. Some Zen Buddhists contend that Zazen isn’t meditation, yet other Zen practitioners believe Zazen is the meditative practice at the core of Zen.</p>
							 					</div>
							 				</div>
							 			</div>

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "MEDITATION/M26.jpg" alt="" %}"></div>
							 					<div class="blog_post_title"><a href="#">Qigong</a></div>
							 					<div class="blog_post_text">
							 						<p>The legs consist of many muscles so you will need to use a good amount of volume, many angles and different exercises to stimulate all the muscles of the legs. Our rep range will depend on the exercise. I like to use a lower rep range (4-6).</p>
							 					</div>
							 				</div>
							 			</div>

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "MEDITATION/M27.jpg" alt="" %}"></div>
							 					<div class="blog_post_title"><a href="#">Chakra meditation</a></div>
							 					<div class="blog_post_text">
							 						<p>In Sanskrit, chakra means “wheel” or “disk”.[6] A chakra is a wheel of energy. There are seven of them and they start at the base of the spine and move up to the crown of the head. Each chakra corresponds with bundles of nerves and major organs.</p>
							 					</div>
							 				</div>
							 			</div>

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "MEDITATION/M29.jpg" alt=""%}"></div>
							 					<div class="blog_post_title"><a href="#">Gazing meditation</a></div>
							 					<div class="blog_post_text">
							 						<p>Sit comfortably with your gaze focused on a single object, such as a candle, waterfall or symbol. For as long as you’re able, don’t blink; maintain relaxation.Maintain focus until your eyes begin to feel uncomfortable and then close your eyes.</p>
							 					</div>
							 				</div>
							 			</div>

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "MEDITATION/M34.jpg" alt=""%}"></div>
							 					<div class="blog_post_title"><a href="#">Third Eye meditation</a></div>
							 					<div class="blog_post_text">
							 						<p>With this practice, you’ll focus exclusively on the ajna chakra, which is the third eye on your forehead between your eyebrows.Sitting cross-legged, direct your focus to the spot between your eyebrows.Continue redirecting focus to your third eye each time any other thought arises.After some time, your mind will experience stillness and the space between thoughts will lengthen.</p>
							 					</div>
							 				</div>
							 			</div>

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "MEDITATION/M31.jpg" alt="" %}"></div>
							 					<div class="blog_post_title"><h3>Nada yoga</h3></div>
							 					<div class="blog_post_text">
<p>Nada Yoga is sound meditation, which helps it fit very well with the growing practice of music therapy.Simply assume a comfortable meditative position, close your eyes and concentrate on an external sound. You could choose ambient alpha wave music, the sound of a rushing brook or any other calming, steady sound.</p>							 					</div>
							 				</div>
							 			</div>

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "MEDITATION/M32.jpg" alt="" %}"></div>
							 					<div class="blog_post_title"><a href="#">Tantra</a></div>
							 					<div class="blog_post_text">
							 						<p>Unlike the popular conception, Tantra is not necessarily about sex. Vijnanabhairava Tantra prescribes over 100 dharanas or “things to meditate on.”[9] Most of them are advanced meditations that already require you to be familiar with basic meditative practices.</p>
							 					</div>
							 				</div>
							 			</div>


										<style>
					  marquee {
					    width: 100%;
					    padding: 10px 0;
					    background-color:brown;
					  }
					</style>
										          <!-- Footer -->
										            <footer id="footer" class="footer">
										              <!-- Your Company Name -->
										             <h2> ...............THANKS FOR VISITING SPARTAN FITNESS............</h2>
										                  <img src="{%static "images/logo-icon1.jpg" %}" width="200" alt="Logo" >
																			<marquee direction="left">
                                        JOIN SPARTAN CLUB .EMAIL US:1)saurabhgavali12@gmail.com </marquee>


										          </footer>


</body>
</html>
