<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
<title>SPARTAN_FIT</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="SportFIT template project">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/png" href="{% static "images/logo-icon1.jpg" %}">



<link rel="stylesheet" type="text/css" href="{%static "styles/bootstrap-4.1.2/bootstrap.min.css" %}">

<link href="{%static "plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"%}">

<link rel="stylesheet" type="text/css" href="{%static "Adventure/adv.css" %}">

<!-- CSS Files -->
<link rel="stylesheet" href="{% static "css/movie1.css"%}">

<link rel="stylesheet" href="{% static "extra/sse.css"%}">
<link rel="stylesheet" href="{% static "css/reset.css" %}">
<link rel="stylesheet" href="{% static "css/animate.min.css">

</head>
<body>


	    <section id="navigation" class="dark-nav">
	    <!-- Navigation -->
	      <!-- Navigation Inner -->
	      <div class="nav-inner">
	        <!-- Site Logo -->
	        <div class="site-logo Sanserif">
	          <a href="#" id="logo-text" class="scroll logo">SPARTAN FITNESS
	          </a>
	        </div><!-- End Site Logo -->
	        <a class="mini-nav-button gray2"><i class="fa fa-bars"></i></a>
	        <!-- Navigation Menu -->
	          <div class="nav-menu">
	          <ul class="nav uppercase">
	            <li><a href='/service.html' class="scroll">Home</a></li>
	            <li><a href='/food.html/' class="scroll">About us</a></li>
	            <li><a href='/blog' class="scroll">BLOG</a></li>
							<li><a href='/PRE' class="scroll">REGISTER</a></li>
				    </ul>
	        </div><!-- End Navigation Menu -->
	      </div><!-- End Navigation Inner -->
	    </section><!-- End Navigation Section -->




	<!-- Home -->

	<div class="home">
		<div class="background_image" style="background-image:url('https://images.unsplash.com/photo-1542405242-74d92676ceaf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">Adventure World</div>
							<div class="home_subtitle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Blog -->

	<div class="blog">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container">
						<div class="section_subtitle">welcome to spartan_fit</div>
						<div class="section_title"> ADVENTURES LIFE</div>
					</div>
				</div>
			</div>
			<div class="row blog_row">

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "Adventure/A.jpg" alt="" %}"></div>
						<div class="blog_post_title"><a href="#"> PARAGLIDING</a></div>
						<div class="blog_post_text">
							<p>Paragliding is the recreational and competitive adventure sport of flying paragliders: lightweight, free-flying, foot-launched glider aircraft with no rigid primary structure. The pilot sits in a harness suspended below a fabric wing.</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "Adventure/A1.jpg" alt="" %}"></div>
						<div class="blog_post_title"><h3>PARACHUTING</h3></div>
						<div class="blog_post_text">
							<p>Parachuting, is a method of transiting from a high point to Earth with the aid of gravity, involving the control of speed during the descent with the use of a parachute or parachutes.</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "Adventure/A2.jpg" alt="" %}"></div>
						<div class="blog_post_title"><a href="#">RAFTING</a></div>
						<div class="blog_post_text">
							<p>Rafting and white water rafting are recreational outdoor activities which use an inflatable raft to navigate a river or other body of water. This is often done on whitewater or different degrees of rough water. Dealing with risk and the need for teamwork is often a part of the experience.</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "Adventure/A3.jpg" alt="" %}"></div>
						<div class="blog_post_title"><h3>ZORBING</h3></div>
						<div class="blog_post_text">
							<p>Zorbing (globe-riding, sphereing, orbing) is the recreation or sport of rolling downhill inside an orb, generally made of transparent plastic. Zorbing is generally performed on a gentle slope, but can also be done on a level surface, permitting more rider control. </p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "Adventure/A4.jpg" alt="" %}"></div>
						<div class="blog_post_title"><a href="#">SURFING</a></div>
						<div class="blog_post_text">
							<p>Surfing is a surface water sport in which the wave rider, referred to as a surfer, rides on the forward or deep face of a moving wave, which usually carries the surfer towards the shore. Waves suitable for surfing are primarily found in the ocean, but can also be found in lakes or rivers in the form of a standing wave or tidal bore</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "Adventure/A5.jpg" alt=""%}"></div>
						<div class="blog_post_title"><a href="#">BUNGEE JUMPING</a></div>
						<div class="blog_post_text">
							<p>Bungee jumping (/ˈbʌndʒiː/; also spelled bungy jumping, which is the usual spelling in New Zealand and several other countries)[1][2] is an activity that involves jumping from a tall structure while connected to a large elastic cord. The tall structure is usually a fixed object, such as a building, bridge or crane</p>
						</div>
					</div>
				</div>






				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "Adventure/A6.jpg" alt=""%}"></div>
						<div class="blog_post_title"><h3>SNOW BOARDING</h3></div>
						<div class="blog_post_text">
							<p>Snowboarding is a recreational activity and Winter Olympic and Paralympic sport that involves descending a snow-covered slope while standing on a snowboard attached to a rider's feet.</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "Adventure/A7.jpg" alt="" %}"></div>
						<div class="blog_post_title"><a href="#"></a>ABSEILING</div>
						<div class="blog_post_text">
							<p>This technique is used by climbers, mountaineers, cavers, canyoners, search and rescue and rope access technicians to descend cliffs or slopes when they are too steep and/or dangerous to descend without protection. Many climbers use this technique to protect established anchors from damage.</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "Adventure/A8.jpg" alt="" %}"></div>
						<div class="blog_post_title"><a href="#">CLIMBING</a></div>
						<div class="blog_post_text">
							<p>Climbing is the activity of using one's hands, feet, or any other part of the body to ascend a steep object. It is done for locomotion, recreation and competition, in trades that rely on it, and in emergency rescue and military operations. It is done indoors and out, on natural and man-made structures.</p>
						</div>
					</div>
				</div>

      <!22222222222222.................................>

		 <div class="blog">
		 	<div class="container">
		 		<div class="row">
		 			<div class="col">
		 				<div class="section_title_container">
		 				</div>
		 			</div>
		 		</div>
		 		<div class="row blog_row">

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "Adventure/A9.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><a href="#">Wakeboarding</a></div>
		 					<div class="blog_post_text">
		 						<p>Wakeboarding is a towed surface water sport or leisure activity where a participant is towed on a small board behind a motorboat over a body of water. The participant rides wake produced by the towing boat, and attempts to do tricks</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "Adventure/A20.jpg"%}" alt=""></div>
		 					<div class="blog_post_title"><a href="#">HANG GLIDING</a></div>
		 					<div class="blog_post_text">
		 						<p>Hang gliding is an air sport or recreational activity in which a pilot flies a light, non-motorised foot-launched heavier-than-air aircraft called a hang glider. Most modern hang gliders are made of an aluminium alloy or composite frame covered with synthetic sailcloth to form a wing. </p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "Adventure/A10.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><a href="#">PARKOUR</a></div>
		 					<div class="blog_post_text">
		 						<p>Parkour is a training discipline using movement that developed from military obstacle course training. Practitioners aim to get from one point to another in a complex environment, without assistive equipment and in the fastest and most efficient way possible</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "Adventure/A11.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><a href="#">SKETBOARDING</a></div>
		 					<div class="blog_post_text">
		 						<p>Skateboarding is an action sport which involves riding and performing tricks using a skateboard, as well as a recreational activity, an art form, an entertainment industry job, and a method of transportation. Skateboarding has been shaped and influenced by many skateboarders throughout the years.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "Adventure/A12.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><h3>CANYONING</h3></div>
		 					<div class="blog_post_text">
		 						<p>Canyoning (canyoneering in the United States, kloofing in South Africa) is travelling in canyons using a variety of techniques that may include other outdoor activities such as walking, scrambling, climbing, jumping, abseiling (rappelling), and swimming.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "Adventure/A13.jpg" alt=""%}"></div>
		 					<div class="blog_post_title"><a href="#">KITEBOARDING</a></div>
		 					<div class="blog_post_text">
		 						<p>Kiteboarding is an action sport combining aspects of wakeboarding, snowboarding, .... Starting in 1999, kitesurfing became a mainstream sport with the entry of key windsurfing manufacturers namely Robby Naish and Neil Pryde.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "Adventure/A14.jpg" alt=""%}"></div>
		 					<div class="blog_post_title"><a href="#">CAVING</a></div>
		 					<div class="blog_post_text">
		 						<p>Caving – also traditionally known as spelunking in the United States and Canada and potholing in the United Kingdom and Ireland – is the recreational pastime of exploring wild (generally non-commercial) cave systems. In contrast, speleology is the scientific study of caves and the cave environment.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "Adventure/A21.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><a href="#">PAINTBALL</a></div>
		 					<div class="blog_post_text">
		 						<p>Paintball is a competitive team shooting sport in which players eliminate opponents from play by hitting them with spherical dye-filled gelatin capsules that break upon impact.
							Players eliminate opponents from play by hitting them with spherical dye-filled gelatin capsules that break upon impact.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "Adventure/A16.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><a href="#"> BOULDERING </a></div>
		 					<div class="blog_post_text">
		 						<p>Bouldering is a form of rock climbing that is performed on small rock formations or artificial rock walls, known as boulders, without the use of ropes or harnesses.</p>
		 					</div>
		 				</div>
		 			</div>








							 <div class="blog">
							 	<div class="container">
							 		<div class="row">
							 			<div class="col">
							 				<div class="section_title_container">
							 				</div>
							 			</div>
							 		</div>
							 		<div class="row blog_row">

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "Adventure/A25.jpg" alt="" %}"></div>
							 					<div class="blog_post_title"><a href="#"> MOTOCROSS</a></div>
							 					<div class="blog_post_text">
							 						<p>Motocross is a form of off-road motorcycle racing held on enclosed off-road circuits. The sport evolved from motorcycle trials competitions held in the United Kingdom.</p>
							 					</div>
							 				</div>
							 			</div>

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "Adventure/A22.jpg" alt="" %}"></div>
							 					<div class="blog_post_title"><h3>Barbell Incline Bench Press</h3></div>
							 					<div class="blog_post_text">
							 						<p>oad the bar to an appropriate weight for your training.Lay on the bench with your feet flat on the ground, driving through to your hips. Your back should be arched, and your shoulder blades.</p>
							 					</div>
							 				</div>
							 			</div>

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "Adventure/A26.jpg" alt="" %}"></div>
							 					<div class="blog_post_title"><h3> Snow World</h3></div>
							 					<div class="blog_post_text">
							 						<p>Lie on the floor face down and place your hands about 36 inches apart while holding your torso up at arms length.Next, lower yourself downward until your chest almost touches the floor as you inhale.</p>
							 					</div>
							 				</div>
							 			</div>


										<style>
					  marquee {
					    width: 100%;
					    padding: 10px 0;
					    background-color:brown;
					  }
					</style>
										          <!-- Footer -->
										            <footer id="footer" class="footer">
										              <!-- Your Company Name -->
										             <h2> ...............THANKS FOR VISITING SPARTAN FITNESS............</h2>
										                  <img src="{%static "images/logo-icon1.jpg" %}" width="200" alt="Logo" >
																			<marquee direction="left"> JOIN SPARTAN CLUB .EMAIL US:1)saurabhgavali12@gmail.com </marquee>


										          </footer>


</body>
</html>
