<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
<title>SPARTAN_FIT</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="SportFIT template project">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/png" href="{% static "images/logo-icon1.jpg" %}">



<link rel="stylesheet" type="text/css" href="{%static "styles/bootstrap-4.1.2/bootstrap.min.css" %}">

<link href="{%static "plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"%}">

<link rel="stylesheet" type="text/css" href="{%static "styles/blog.css" %}">

<!-- CSS Files -->
<link rel="stylesheet" href="{% static "css/movie1.css"%}">
<link rel="stylesheet" href="{% static "css/reset.css" %}">
<link rel="stylesheet" href="{% static "css/animate.min.css">

</head>
<body>


	    <section id="navigation" class="dark-nav">
	    <!-- Navigation -->
	      <!-- Navigation Inner -->
	      <div class="nav-inner">
	        <!-- Site Logo -->
	        <div class="site-logo Sanserif">
	          <a href="#" id="logo-text" class="scroll logo">SPARTAN FITNESS
	          </a>
	        </div><!-- End Site Logo -->
	        <a class="mini-nav-button gray2"><i class="fa fa-bars"></i></a>
	        <!-- Navigation Menu -->
	          <div class="nav-menu">
	          <ul class="nav uppercase">
	            <li><a href='/index.html' class="scroll">Home</a></li>
							<li><a href='/food.html/' class="scroll">About us</a></li>

							<li><a href='/Moderate/' class="scroll">Moderate Excercises</a></li>
							<li><a href='/Advanced' class="scroll">Advanced Excercises</a></li>
	            <li><a href='/blog' class="scroll">BLOG</a></li>
							<li><a href='/GymR/' class="scroll">REGISTER</a></li>
	          </ul>
	        </div><!-- End Navigation Menu -->
	      </div><!-- End Navigation Inner -->
	    </section><!-- End Navigation Section -->




	<!-- Home -->

	<div class="home">
		<div class="background_image" style="background-image:url('https://images.unsplash.com/photo-1518310790390-836058cb000b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">Beginners </div>
							<div class="home_subtitle">Tricep ki,Incline Push Up,Hyperextension ,Supine Push up & many more</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Blog -->

	<div class="blog">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container">
						<div class="section_subtitle">welcome to spartan_fit</div>
						<div class="section_title">Beginners Excercise Stage 1:</div>
					</div>
				</div>
			</div>
			<div class="row blog_row">

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "GYM/imgs/G1.jpg" alt="" %}"></div>
						<div class="blog_post_title"><a href="#">Strenthing muscles</a></div>
						<div class="blog_post_text">
							<p>	When the days start getting warmer and longer, we often renew our health goals. With nature budding all around us, it’s the perfect time to shake off that winter cocoon, lace up your running shoes and get back into shape.</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "GYM/imgs/G13.jpg" alt="" %}"></div>
						<div class="blog_post_title"><h3>Tricep kick-back</h3></div>
						<div class="blog_post_text">
							<p>Strengthening your triceps — the muscles that run on the backside of your upper arm, from your shoulder to your elbow — is one way to easily tone your arms.</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "GYM/imgs/G3.jpg" alt="" %}"></div>
						<div class="blog_post_title"><a href="#">Chest Begginers</a></div>
						<div class="blog_post_text">
							<p>Why it's on the list: You can generate the most power with barbell lifts, so the standard barbell bench allows you to move the most weight. It's also an easier lift to control than pressing with heavy dumbbells.</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "GYM/imgs/G11.jpg" alt="" %}"></div>
						<div class="blog_post_title"><h3>Triceps Dips</h3></div>
						<div class="blog_post_text">
							<p>Position your hands shoulder-width apart on a secured bench or stable chair.Slide your butt off the front of the bench with your legs extended out in front of you.</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "GYM/imgs/G5.jpg" alt="" %}"></div>
						<div class="blog_post_title"><a href="#">Neck Exercise</a></div>
						<div class="blog_post_text">
							<p>Sit, stand or lie on the floor with both arms stretched down by your side.Push both shoulders down.Tuck the chin into the chest.Extend the head back slightly while elevating the chin to the ceiling, still keeping the arms down and back.</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "GYM/imgs/G6.jpg" alt=""%}"></div>
						<div class="blog_post_title"><a href="#">Weight lifting tips</a></div>
						<div class="blog_post_text">
							<p>Why it's on the list: You can generate the most power with barbell lifts, so the standard barbell bench allows you to move the most weight. It's also an easier lift to control than pressing with heavy dumbbells.</p>
						</div>
					</div>
				</div>






				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "GYM/imgs/G14.jpg" alt=""%}"></div>
						<div class="blog_post_title"><h3>Incline Dumbbell Press</h3></div>
						<div class="blog_post_text">
							<p>For even crazier pumps with this exercise, try to slowly rotate the dumbbells from palms-forward to a palms-inward position during the concentric portion of the lift, really squeezing at the top.In your workout: Do flat dumbbell presses toward the start of your chest workout for heavy sets in lower rep ranges.</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "GYM/imgs/G15.jpg" alt="" %}"></div>
						<div class="blog_post_title"><a href="#">Biceps</a></div>
						<div class="blog_post_text">
							<p>In fact, the similar nature of these movements was confirmed via electromyography (EMG) analysis, which demonstrated no significant differences between flat-bench dumbbell and barbell in regard to muscle activation.</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "GYM/imgs/G16.jpg" alt="" %}"></div>
						<div class="blog_post_title"><a href="#">Chest</a></div>
						<div class="blog_post_text">
							<p>Forearms on the other hand are what I like to call the "burning buggers." You will have to endure some high rep muscle-burning sets to get these babies to grow. Reps can go as high as 50 to get these to burn like they are on fire.</p>
						</div>
					</div>
				</div>

      <!22222222222222.................................>

		 <div class="blog">
		 	<div class="container">
		 		<div class="row">
		 			<div class="col">
		 				<div class="section_title_container">
		 					<div class="section_title"> Beginners Satage 2 Excercise.</div>
		 				</div>
		 			</div>
		 		</div>
		 		<div class="row blog_row">

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "GYM/imgs/G17.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><a href="#">Close-Grip Barbell Bench Press</a></div>
		 					<div class="blog_post_text">
		 						<p>Lie back on a flat bench. Using a close grip (around shoulder width), lift the bar from the rack and hold it straight over you with your arms locked. This will be your starting position.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "GYM/imgs/G18.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><a href="#">Tips for the perfect body</a></div>
		 					<div class="blog_post_text">
		 						<p>Grasping the rope with both hands, extend your arms with your hands directly above your head using a neutral grip (palms facing each other). Your elbows should be in close to your head and the arms should be perpendicular to the floor with the knuckles aimed at the ceiling.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "GYM/imgs/G19.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><a href="#"> Dip Machine</a></div>
		 					<div class="blog_post_text">
		 						<p>For this exercise you will need access to parallel bars. To get yourself into the starting position, hold your body at arms length (arms locked) above the bars.While breathing in, lower yourself slowly with your torso leaning forward around 30 degrees.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "GYM/imgs/G20.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><a href="#">INCLINE DUMBELL</a></div>
		 					<div class="blog_post_text">
		 						<p>Lie back on an incline bench with a dumbbell on each hand on top of your thighs. The palms of your hand will be facing each other.By using your thighs to help you get the dumbbells up, clean the dumbbells one arm at a time so that you can hold them at shoulder width.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "GYM/imgs/G21.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><h3>Palms-Down Wrist Curl </h3></div>
		 					<div class="blog_post_text">
		 						<p>Start out by placing a barbell on one side of a flat bench.Kneel down on both of your knees so that your body is facing the flat bench.Use your arms to grab the barbell with a pronated grip (palms down) and bring them up so that your forearms are resting against the flat bench.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "GYM/imgs/G22.jpg" alt=""%}"></div>
		 					<div class="blog_post_title"><a href="#">One-Arm DumbbellTriceps</a></div>
		 					<div class="blog_post_text">
		 						<p>To begin, stand up with a dumbbell held in one hand. Your feet should be about shoulder width apart from each other. Now fully extend the arm with the dumbbell over your head. Tip: The small finger of your hand should be facing the ceiling and the palm of your hand should be facing forward. The dumbbell should be above your head.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "GYM/imgs/G23.jpg" alt=""%}"></div>
		 					<div class="blog_post_title"><a href="#">Lying Cable Curl</a></div>
		 					<div class="blog_post_text">
		 						<p>Grab a straight bar or E-Z bar attachment that is attached to the low pulley with both hands, using an underhand (palms facing up) shoulder-width grip.Lie flat on your back on top of an exercise mat in front of the weight stack with your feet flat against the frame of the pulley machine and your legs straight.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "GYM/imgs/G24.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><a href="#">Tips for the perfect body</a></div>
		 					<div class="blog_post_text">
		 						<p>Start out by placing a flat bench in front of a low pulley cable that has a straight bar attachment.Use your arms to grab the cable bar with a narrow to shoulder width supinated grip (palms up) and bring them up so that your forearms are resting against.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "GYM/imgs/G25.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><a href="#"> </a></div>
		 					<div class="blog_post_text">
		 						<p>Start out by placing two dumbbells on the floor in front of a flat bench.Sit down on the edge of the flat bench with your legs at about shoulder width apart. Make sure to keep your feet on the floor.This exercise can also be performed using a barbell instead of a dumbbell.You can also focus on one arm at a time to isolate the forearms.</p>
		 					</div>
		 				</div>
		 			</div>








							 <div class="blog">
							 	<div class="container">
							 		<div class="row">
							 			<div class="col">
							 				<div class="section_title_container">
							 					<div class="section_title">Beginners Stage 3 Excercises</div>
							 				</div>
							 			</div>
							 		</div>
							 		<div class="row blog_row">

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "GYM/imgs/G26.jpg" alt="" %}"></div>
							 					<div class="blog_post_title"><a href="#"> Chest Building</a></div>
							 					<div class="blog_post_text">
							 						<p>The middle chest is best stimulated from exercises done on a flat bench. For example: flat barbell and dumbbell bench press or flat dumbbell flyes are great middle chest exercises.</p>
							 					</div>
							 				</div>
							 			</div>

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "GYM/imgs/G27.jpg" alt="" %}"></div>
							 					<div class="blog_post_title"><h3>Barbell Incline Bench Press</h3></div>
							 					<div class="blog_post_text">
							 						<p>oad the bar to an appropriate weight for your training.Lay on the bench with your feet flat on the ground, driving through to your hips. Your back should be arched, and your shoulder blades.</p>
							 					</div>
							 				</div>
							 			</div>

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "GYM/imgs/G28.jpg" alt="" %}"></div>
							 					<div class="blog_post_title"><h3> Pushups</h3></div>
							 					<div class="blog_post_text">
							 						<p>Lie on the floor face down and place your hands about 36 inches apart while holding your torso up at arms length.Next, lower yourself downward until your chest almost touches the floor as you inhale.</p>
							 					</div>
							 				</div>
							 			</div>

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "GYM/imgs/G29.jpg" alt="" %}"></div>
							 					<div class="blog_post_title"><a href="#">Summer food</a></div>
							 					<div class="blog_post_text">
							 						<p>The legs consist of many muscles so you will need to use a good amount of volume, many angles and different exercises to stimulate all the muscles of the legs. Our rep range will depend on the exercise. I like to use a lower rep range (4-6).</p>
							 					</div>
							 				</div>
							 			</div>

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "GYM/imgs/G30.jpg" alt="" %}"></div>
							 					<div class="blog_post_title"><a href="#">Vastus Mediallis</a></div>
							 					<div class="blog_post_text">
							 						<p>To begin, stand up with a dumbbell held in one hand. Your feet should be about shoulder width apart from each other. Now fully extend the arm with the dumbbell over your head.</p>
							 					</div>
							 				</div>
							 			</div>

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "GYM/imgs/G31.jpg" alt=""%}"></div>
							 					<div class="blog_post_title"><a href="#">Weight lifting tips</a></div>
							 					<div class="blog_post_text">
							 						<p>Lower the safety bars holding the weighted platform in place and press the platform all the way up until your legs are fully extended in front of you.</p>
							 					</div>
							 				</div>
							 			</div>

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "GYM/imgs/G32.jpg" alt=""%}"></div>
							 					<div class="blog_post_title"><a href="#">Hack Squat</a></div>
							 					<div class="blog_post_text">
							 						<p>Place the back of your torso against the back pad of the machine and hook your shoulders under the shoulder pads provided.Position your legs in the platform using a shoulder width medium stance with the toes slightly pointed out.</p>
							 					</div>
							 				</div>
							 			</div>

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "GYM/imgs/G33.jpg" alt="" %}"></div>
							 					<div class="blog_post_title"><h3>Dips For Chest</h3></div>
							 					<div class="blog_post_text">
							 						<p>Shortcut to Size is a three-phase training program based on "microcycles" that help you progressively build muscle and strength each and every week. The plan includes four workouts per week, plus full workout videos throughout week one so you can see how Jim trains.</p>
							 					</div>
							 					<div class="blog_post_link"><a href="#">Read More</a></div>
							 				</div>
							 			</div>

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "GYM/imgs/G34.jpg" alt="" %}"></div>
							 					<div class="blog_post_title"><a href="#">Dumbbell Lunges</a></div>
							 					<div class="blog_post_text">
							 						<p>Stand with your torso upright holding two dumbbells in your hands by your sides. This will be your starting position.
Step forward with your right leg around 2 feet or so from the foot being left stationary behind and lower your upper body down, while keeping the torso upright and maintaining balance. Inhale as you go down.</p>
							 					</div>
							 					<div class="blog_post_link"><a href="#">Read More</a></div>
							 				</div>
							 			</div>



										          <!-- Footer -->
										            <footer id="footer" class="footer">
										              <!-- Your Company Name -->
										             <h2> ...............THANKS FOR VISITING SPARTAN FITNESS............</h2>
										                  <img src="{%static "images/logo-icon1.jpg" %}" width="200" alt="Logo" >
																			<marquee direction="left"> JOIN SPARTAN CLUB .EMAIL US:1)saurabhgavali12@gmail.com </marquee>


										          </footer>


</body>
</html>
