<!DOCTYPE html>
{%load staticfiles%}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
 <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SPARTAN_FIT</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{%static "about/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{%static "about/css/bootstrap-theme.min.css"%}">

    <link href='http://fonts.googleapis.com/css?family=Kreon:300,400,700' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>


    <link href="{%static "{%static "about/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{%static "about/css/main.css"%}">

    <link rel="stylesheet" href="{% static "extra/movie.css"%}">
    <link rel="stylesheet" href="{% static "css/movie1.css"%}">


    <script src="about/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
    <!--[if lt IE 7]>
    <body data-spy="scroll" data-target="#navbar" data-offset="120" >
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <section id="navigation" class="dark-nav">
    <!-- Navigation -->
      <!-- Navigation Inner -->
      <div class="nav-inner">
        <!-- Site Logo -->
        <div class="site-logo Sanserif">
          <a href="#" id="logo-text" class="scroll logo">SPARTAN FITNESS
          </a>
        </div><!-- End Site Logo -->
        <a class="mini-nav-button gray2"><i class="fa fa-bars"></i></a>
        <!-- Navigation Menu -->
          <div class="nav-menu">
          <ul class="nav uppercase">
            <li><a href='/service.html' class="scroll">Home</a></li>
            <li><a href='/food.html' class="scroll">About us</a></li>
            <li><a href='/blog' class="scroll">BLOG</a></li>
            <li><a href='/' class="scroll">REGISTER</a></li>
          </ul>
        </div><!-- End Navigation Menu -->
      </div><!-- End Navigation Inner -->
    </section><!-- End Navigation Section -->



    <style>
marquee {
width: 100%;
padding: 10px 0;
background-color:brown;
}
</style>

            <div class="center text-right">
                <div class="container">
                    <div class="banner">
                        <h1 class="condensed">Mind</h1>
                        <h1 class="condensed">Body</h1>
                        <h1 class="condensed">Spirit</h1>
                    </div>
                    <div class="subtitle"><h4>Keep calm and do yoga</h4></div>
                </div>
            </div>


    <!-- /#header -->



    <div id="video" class="cyan-wrapper">
        <div class="container inner">
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-wrapper">
                        <h1 class="giant-heading">
                            YOGA<br/>
                            LIFE<br/>

                        </h1>

                        <p>Accepting means you allow yourself to feel whatever it is you are feeling at that moment. It is part of the isness of the Now. You can’t argue with what is.</p>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-wrapper">
                        <div class="video"></div>

                        <div class="video-container">
                            <iframe src="http://player.vimeo.com/video/73344299?byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.services -->
        </div>
        <!-- /.container -->
    </div><!-- #video -->




    <div id="story" class="light-wrapper">
        <div class="container inner">
            <div class="row story">
                <div class="col-sm-6">
                    <div class="col-wrapper">
                        <img class="bottom-marged" src="{%static "about/img/content-left.jpg"%}">
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="col-wrapper">
                        <p><span class="up-caps">Y</span>ou may think that only you are a prisoner, but other people are also prisoners. You are in a small prison, but others are in the big prison outside. When will they be released? Think that you are a yogi and that you are pursuing your sadhana in this particular place and at this particular moment. Immediately you will experience great joy. If you change your understanding, you will be free in a minute. Dpuf ullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient monte nascetur ultricies vehicula.</p>

                        <p>
                            ou may think that only you are a prisoner, but other people are also prisoners. You are in a small prison, but others are in the big prison outside. When will they be released? Think that you are a yogi and that you are pursuing your sadhana in this particular place and at this particular moment. Immediately you will experience great joy. If you change your understanding, you will be free in a minute. Dpuf ullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient monte nascetur ultricies vehicula.
                        </p>

                    </div>
                </div>
            </div>
            <!-- /.services -->
        </div>
        <!-- /.container -->
    </div><!-- #story -->


    <div id="gallery" class="grid">
        <figure class="effect-bubba">
            <img src="{%static "about/img/gallery/1.jpg" alt="img01"%}">
            <figcaption>
                <h2>Nice <span>Lily</span></h2>
                <p>Lily likes to play with crayons and pencils</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect-bubba">
            <img src="{%static "about/img/gallery/2.jpg" alt="img02"%}">
            <figcaption>
                <h2>Holy <span>Sadie</span></h2>
                <p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect-bubba">
            <img src="{%static "about/img/gallery/3.jpg" alt="img07" %}">
            <figcaption>
                <h2>Dreamy <span>Honey</span> <i>Now</i></h2>
                <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect-bubba">
            <img src="{%static "about/img/gallery/4.jpg" alt="img04"%}">
            <figcaption>
                <h2>Crazy <span>Layla</span></h2>
                <p>When Layla appears, she brings an eternal summer along.</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect-bubba">
            <img src="{%static "about/img/gallery/5.jpg" alt="img14"%}">
            <figcaption>
                <h2>Creative <span>Zoe</span></h2>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-heart"></span>
                <span class="glyphicon glyphicon-comment"></span>
                <p>Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect-bubba">
            <img src="{%static "about/img/gallery/6.jpg" alt="img08"%}">
            <figcaption>
                <h2>Warm <span>Oscar</span></h2>
                <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
    </div><!-- #gallery -->


    <div id="blog" class="light-wrapper">
        <div class="container inner">
            <div class="title">
                <h2 class="section-title text-center">YOGA &amp; PRAN</h2>
                <p class="lead main text-center">With so many types of yoga out there, how do you find the one that’s right for you? You may have tried yoga at a local studio or at your gym, but visiting one type of yoga class doesn’t mean the studio down the street teaches the same style.</p>
            </div>

            <div class="row blog">

                <div class="col-sm-6 left">
                    <div class="news clearfix">
                        <img src="{%static "about/img/news/1.jpg" alt=""%}">
                        <h3>1.Vinyasa Yoga</h3>
                        <p>Vinyasa yoga is popular and is taught at most studios and gyms. “Vinyasa” means linking breath with movement. The postures are usually done in a flowing sequence, or "vinyasa flow."</p>
                    </div>
                    <div class="news clearfix">
                        <img src="{%static "about/img/news/2.jpg" alt=""%}">
                        <h3>2. Ashtanga Yoga</h3>
                        <p>Ashtanga means “eight limbs” and encompasses a yogic lifestyle. Most people identify Ashtanga as traditional Indian yoga. Like Vinyasa yoga, the Ashtanga yoga asanas synchronize breath with movement as you move.</p>
                    </div>
                    <div class="news clearfix">
                        <img src="{%static "about/img/news/3.jpg" alt=""%}">
                        <h3>3. Iyengar Yoga</h3>
                        <p>Also based on the Eight Limbs of Yoga, Iyengar yoga is named after B.K.S. Iyengar, a famous yogi from India. It was popularized in the West about the same time as Ashtanga yoga.</p>
                    </div>
                </div>  <!-- col-sm-6  -->

                <div class="col-sm-6 right">
                    <div class="news clearfix">
                        <img src="{%static "about/img/news/4.jpg" alt=""%}">
                        <h3>4. Bikram Yoga</h3>
                        <p> Class consists of the same twenty-six yoga postures and two breathing exercises. It is ninety minutes long and done in a room that is 105 degrees Fahrenheit with 40% humidity. </p>
                    </div>
                    <div class="news clearfix">
                        <img src="{%static "about/img/news/5.jpg" alt=""%}"
                        <h3>5. Jivamukti Yoga</h3>
                        <p>Class incorporates Sanskrit chanting, Pranayama, and movement, with a theme or lesson for each class. This is a good blend of spiritual & physical exercise.Class incorporates Sanskrit chanting, Pranayama, and movement, with a theme or lesson for each class.</p>
                    </div>
                    <div class="news clearfix">
                        <img src="{%static "about/img/news/6.jpg" alt=""%}">
                        <h3>6. Power Yoga</h3>
                        <p>Power yoga is a more active approach to the traditional Hatha yoga poses. The Ashtanga yoga poses are performed more quickly and with added core exercises and upper body work.</p>
                    </div>
                </div>  <!-- col-sm-6  -->

            </div>
            <!-- /.blog -->
        </div>
        <!-- /.container -->
    </div><!-- #blog -->


    <footer id="footer" class="dark-wrapper">
        <div class="container inner">

                              <footer id="footer" class="footer">
                                <!-- Your Company Name -->
                                <marquee direction="left">CONTACT US:1)+91-8208606416</marquee>
                               <h2>...............THANKS FOR VISITING SPARTAN FITNESS............</h2>
                                    <img src="{%static "images/logo-icon1.jpg"%}" width="350" alt="Logo" >
                                    <marquee direction="right">CONTACT US:2)+91-8446673281</marquee>
                            </footer>



    <script src="js/jquery-2.1.3.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

    <script src="js/jquery.actual.min.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>

    <script src="js/main.js"></script>

</body>
</html>
