<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SPARTAN_FIT</title>
    <link rel="icon" type="image/png" href="{% static "images/logo-icon1.jpg" %}">
    <link rel="stylesheet" href="{% static  "css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{%static "assets/css/Fitnezz.min.css" %}">
    <link rel="stylesheet" href="{%static "assets/css/Fitnezz.css" %}">

    <link rel="stylesheet" href="{% static "css/responsive.css" %}">
    <link rel="stylesheet" href="{% static "css/player/YTPlayer.css" %}">
    <link href="{% static "css/pro-bars.css" rel="stylesheet" %}">
    <link rel="stylesheet" type="text/css" href="{%static "styles/services.css" %}">
    <link href="{%static "plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css"%}"
    <link rel="stylesheet" type="text/css" href="{%static "styles/services_responsive.css" %}">

  	<!-- CSS Files -->
   <link rel="stylesheet" href="{% static "css/movie1.css"%}">
  	<link rel="stylesheet" href="{% static "css/reset.css" %}  ">
  	<link rel="stylesheet" href="{% static "css/animate.min.css" %}">

  </head>
  <body>

{%block body_block%}
    <section id="navigation" class="dark-nav">
    <!-- Navigation -->
      <!-- Navigation Inner -->
      <div class="nav-inner">
        <!-- Site Logo -->
        <div class="site-logo Sanserif">
          <a  id="logo-text" class="scroll logo">SPARTAN FITNESS
          </a>

        </div><!-- End Site Logo -->
        <a class="mini-nav-button gray2"><i class="fa fa-bars"></i></a>
        <!-- Navigation Menu -->
          <div class="nav-menu">
          <ul class="nav uppercase">
            <li><a href='/' class="scroll">Home</a></li>
            <li><a href='/food.html' class="scroll">About us</a></li>
            <li><a href='/elements.html' class="scroll">Trainers</a></li>
            <li><a href='/blog' class="scroll">BLOG</a></li>
            <li><a href='/signup' class="scroll">JOIN US</a></li>
            <li><a href='/accounts/login/' class="scroll">USER_LOGIN</a></li>
            <li><a href='/admin' class="scroll">ADMIN</a></li>

          </ul>
        </div><!-- End Navigation Menu -->
      </div><!-- End Navigation Inner -->
    </section><!-- End Navigation Section -->

    	<div class="claim-lockup">

    		<div class="claim">
          <style>
  marquee {
    width: 100%;
    padding: 10px 0;
    background-color:brown;
  }
</style>
          <marquee direction="right">CONTACT US:1)+91-8208606416</marquee>

    			<p class="headline">Fitness Is In Your Hand<span>/</span></p>
    			<p class="kicker">Yes You Can<span>/</span></p>
      <marquee direction="left">CONTACT US:2)+91-9764652158</marquee>
    		</div>

    	</div>



    <div class="extra d-flex flex-column align-items-center justify-content-center text-center">
      <div class="background_image" style="background-image:url('https://images.unsplash.com/photo-1522844931788-513a2ed46b4b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="extra_content d-flex flex-column align-items-center justify-content-center text-center">
              <div class="extra_title">20% Discount</div>

              <div class="extra_text">
                <p>On behalf of SPARTAN FITNESS we cordially invite you to join the Spartan Fitness Club.</p>
Membership provides complimentary use of all of the Club’s facilities, which include:<p>
1) Fully Equipped Gymnasium</p><p>
2) Hydrotherapy Spa</p><p>
3) Steam Room & Sauna</p><p>
4) Aerobics & Stretch Studio</p><p>
5) Indoor 12.5 m Pool</div>
              <div class="button extra_button"><a href='/signup'>JOIN NOW</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <section class="grid">

    	<div class="bg-secondary">

    		<div class="container">

    			<div class="row fitness-first">

    				<div class="col-lg-7 text-block">

    					<div class="text-lockup">

    						<h3>It's All About</h3>

    						<h2>Fitness First</h2>

    						<img src="{%static "assets/img/drop-muted.jpg"%}">

    						<p>Improve your body, health and mindset with our customized workout programs and meal plans that will guide and encourage you every step of the way. Our programs use our website workout videos to provide detailed, day-by-day instruction, creating incredible, sustainable results.</p>

    					</div>

    				</div>

    				<div class="col-lg-13 large-thumb">

    					<div class="stats">

    						<p>Active Users <span>(934)</span></

    						<img src="{%static "assets/img/drop-primary.png"%}">

    					</div>

    				</div>

    			</div>

    			<div class="row love-your-body">

    				<div class="col-lg-13 large-thumb">

    					<div class="stats">

    						<p>Products Used <span>(658)</span></p>

    						<img src="{%static "assets/img/drop-primary.jpg"%}">

    					</div>

    				</div>

    				<div class="col-lg-7 text-block">

    					<div class="text-lockup">

    						<h3>Love</h3>

    						<h2>Your Body</h2>

    						<img src="{%static "assets/img/drop-muted.jpg"%}">

    						<p>"My smile is my favorite part of my body. I think a smile can make your whole body.One day I had to sit down with myself and decide that I loved myself no matter what my body looked like and what other people thought about my body."</p>

    					</div>

    				</div>

    			</div>

    		</div>

    	</div>

    	<div class="container">

    		<div class="row mid-unit">

    			<div class="col-lg-7 lifestyle">

    				<div class="small-thumb"></div>

    				<div class="text-block">

    					<div class="text-lockup">

    						<h3>Track Your</h3>

    						<h2>Lifestyle</h2>

    						<p>You have to get outside of your comfort zone if you're going to make significant changes in your life, and since few things scare people like the unknown, feeling fear is an excellent sign that you're on the right track.</p>

    						<i class="icon-user"></i>


    					</div>

    				</div>

    			</div>

    			<div class="col-lg-13 summer-fun">

    				<div class="large-thumb">

    					<p class="date">24 feb</p>

    					<div class="category">

    						<p>Health &amp; Fitness</p>

    						<i class="icon-tag"></i>

    					</div>

    				</div>

    				<div class="text-block">

    					<div class="text-lockup">

    						<h2>Summer of Fun</h2>

    						<p>"A vacation is having nothing to do and all day to do it in." "Live in the sunshine, swim the sea, drink the wild air." "Just living is not enough ... one must have sunshine, freedom, and a little flower." "When the sun is shining I can do anything; no mountain is too high, no trouble too difficult to overcome."</p>

    					</div>

    				</div>

    			</div>

    		</div>

    		<div class="row bottom-unit">

    			<div class="col-lg-13 get-involved">

    				<div class="large-thumb"></div>

    				<div class="text-block">

    					<div class="text-lockup">

    						<h3>Helping You</h3>

    						<h2>Get Involved In Yourself</h2>

    						<p>' DON'T CONCERN YOURSELF WITH THINGS THAT YOU DON'T CONCERN YOU. IF IT'S NOT YOUR BUSINESS,DON'T MAKE IT YOUR BURDEN'
                  When we first started talking. I honestly didn't want to get involved with anyone. Heck, I never saw it coming. Little by little, I found myself falling even harder for you</p>

    						<img src="{%static "assets/img/strawberry.png"%}">

    					</div>

    				</div>

    			</div>

    			<div class="col-lg-7 eating-habits">

    				<div class="small-thumb"></div>

    				<div class="text-block">

    					<div class="text-lockup">

    						<h3>Improve Your</h3>

    						<h2>Eating Habits</h2>
	<p>To eat a healthy diet, you may need to make some changes. Remember that you can change your eating habits a little bit at a time. Small changes are easier to make and can lead to better
Keep more fruits, low-fat dairy products (low-fat milk and low-fat yogurt), vegetables, and whole-grain foods at home and at work. Focus on adding healthy food to your diet, rather than just taking unhealthy foods away.
Try to eat a family meal every day at the kitchen or dining table. This will help you focus on eating healthy meals.
Buy a healthy-recipe book, and cook for yourself. Chew gum when you cook so you won't be tempted to snack on the ingredients.
Pack a healthy lunch and snacks for work. This lets you have more control over what you eat.
Put your snacks on a plate instead of eating from the package. This helps you control how much you eat.
Don't skip or delay meals, and be sure to schedule your snacks. If you ignore your feelings of hunger, you may end up eating too much or choosing an unhealthy snack. If you often feel too hungry, it can cause you to focus a lot on food.
Eat your meals with others when you can. Relax and enjoy your meals, and don't eat too fast. Try to make healthy eating a pleasure, not a chore.
Drink water instead of high-sugar drinks (including high-sugar juice drinks).<p>

   		<img src="{%static "assets/img/avocado.png"%}">

    					</div>

    				</div>

    			</div>

    		</div>

    	</div>

    </section>

    <footer>

    	<div class="closer">

    		<div class="closing-claim">

    			<h1>We launch leaders with big ideas</h1>

    			<p>Leadership is the art of getting someone else to do something you want done because he wants to do it.</p>

    		</div>

    	</div>

    	<div class="bg-angled-left"></div>

    	<div class="bg-angled-right"></div>

    	<div class="container footer-lockup">

    		<div class="red-angle"></div>



          <!-- Footer -->
            <footer id="footer" class="footer">
              <!-- Your Company Name -->
             <h2> ...............THANKS FOR VISITING SPARTAN FITNESS............</h2>
                  <img src="{%static "images/logo-icon1.jpg" %}" width="200" alt="Logo" >

                  <marquee direction="left">EMAIL US:1)saurabhgavali12@gmail.com </marquee>
          </footer>



    			</div>

    		</div>
https://ibpsonline.ibps.in/cetmcajan19/image.php?q=ZTBhZWY2MDIzMGVjODk3YzI3MzZkNjE3MDNlMDVmZGZ8MzIwMDkyNDI=&st=1

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="assets/js/functions.js"></script>


{%endblock%}
    </body>
    </html>
