<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
<title>SPARTAN_FIT</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="SportFIT template project">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/png" href="{% static "images/logo-icon1.jpg" %}">



<link rel="stylesheet" type="text/css" href="{%static "styles/bootstrap-4.1.2/bootstrap.min.css" %}">

<link href="{%static "plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"%}">
<link rel="stylesheet" type="text/css" href="{%static "dietplan/diet.css" %}">

<link rel="stylesheet" href="{% static "css/movie1.css"%}">

<!-- CSS Files -->
<link rel="stylesheet" href="{% static "extra/sse.css"%}">
<link rel="stylesheet" href="{% static "css/reset.css" %}">
<link rel="stylesheet" href="{% static "css/animate.min.css">

</head>
<body>


	    <section id="navigation" class="dark-nav">
	    <!-- Navigation -->
	      <!-- Navigation Inner -->
	      <div class="nav-inner">
	        <!-- Site Logo -->
	        <div class="site-logo Sanserif">
	          <a href="#" id="logo-text" class="scroll logo">SPARTAN FITNESS
	          </a>
	        </div><!-- End Site Logo -->
	        <a class="mini-nav-button gray2"><i class="fa fa-bars"></i></a>
	        <!-- Navigation Menu -->
	          <div class="nav-menu">
	          <ul class="nav uppercase">
	            <li><a href='/' class="scroll">Home</a></li>
	            <li><a href='/food.html/' class="scroll">About us</a></li>
							<li><a href='/Advanced' class="scroll">Advanced Excercises</a></li>
	            <li><a href='/blog' class="scroll">BLOG</a></li>
	          </ul>
	        </div><!-- End Navigation Menu -->
	      </div><!-- End Navigation Inner -->
	    </section><!-- End Navigation Section -->




	<!-- Home -->

	<div class="home">
		<div class="background_image" style="background-image:url('https://images.unsplash.com/photo-1531113463068-6f334622d795?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">NUTRITION</div>
							<div class="home_subtitle">The diet of an organism is what it eats, which is largely determined by the availability and palatability of foods. & many more</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Blog -->

	<div class="blog">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container">
						<div class="section_subtitle">welcome to spartan_fit</div>
						<div class="section_title">DIET PLAN</div>
					</div>
				</div>
			</div>
			<div class="row blog_row">

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "dietplan/d1.jpg" alt="" %}"></div>
						<div class="blog_post_title"><h3>A Balanced Diet Plan For Beginners</h3></div>
						<div class="blog_post_text">
							<p>in our diet.
A good diet is one of the key components to lead a healthy life. Your diet should include different foods which will help you to get the required nutrients. Let me talk about energy balance as few of you might not have heard about this concept. Energy balance refers to the amount of calories taken each day which is equal to the amount of calories burnt or used by the body </p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "dietplan/d2.jpg" alt="" %}"></div>
						<div class="blog_post_title"><h3>Day1</h3></div>
						<div class="blog_post_text">
							<p>Day one’s diet plan contains food items that will give you a good amount of carbohydrates, fat, protein and fibre. Here we are looking at a calorie range of around 2100-2200 calories. Also, read 5 Foods You Should Add to Your Balanced Diet Chart.
Breakfast
A bowl of fresh fruits
Two Boiled Eggs
A cup of Low fat milk
Two slices of whole wheat bread
Snack
150 grams plain yogurt
2 ripe avocados
Lunch
200 grams of boneless chicken, boiled or roasted (not fried)
A large portion of salad including tomato, onions, cucumber, beetroot and lettuce.
Snack
A glass of green or herbal tea
Dinner
One cup brown rice
A small portion of salad
60-70 grams of cooked soya bean
Snack
A bowl of carrot
50-60 grams of peanuts</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "dietplan/d3.jpg" alt="" %}"></div>
						<div class="blog_post_title"><h3>Day2</h3></div>
						<div class="blog_post_text">
							<p>Breakfast
Four slices whole wheat bread with peanut butter
A glass (250 ml) of juice
Snack
Two multigrain cookies
A bowl of berries
Lunch
A cup of brown rice
100 grams of cooked veggies
Advertisement
100 grams of plain yogurt
Snack
A small bowl of fruits
Dinner
One cup mashed potatoes
100 gram of grilled fish
1 chapati
Snack
A glass of low fat milk</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "dietplan/d4.jpg" alt="" %}"></div>
						<div class="blog_post_title"><h3>Day3</h3></div>
						<div class="blog_post_text">
							<p>Breakfast
A small portion of oatmeal
2 pieces of banana
50-60 grams of watermelon
Snack
One cup of soy milk
A small bowl of fruits
Lunch
120 grams of cooked boneless chicken
One cup of brown rice
A bowl of cucumber
Snack
One whole apple
100 grams of plain yogurt
Dinner
Two chapatis
One cup cooked veggies
2 boiled eggs
Snack
Green or herbal tea
Two oat cookies</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "dietplan/d5.jpg" alt="" %}"></div>
						<div class="blog_post_title"><h3>Day4</h3></div>
						<div class="blog_post_text">
							<p>Breakfast
One cup corn flakes.
A glass of milk.
2 boiled eggs
1 banana
Snack
One cup grapes
Lunch
A small cup of mashed potato
A cup brown rice
Cooked veggies
Snack
150 grams of plain yogurt
Dinner
4 egg omelette
2 chapatis
A small portion of salad
Snack
Two multi grain cookies
150 ml low fat milk</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "dietplan/d6.jpg"%}" alt=""></div>
						<div class="blog_post_title"><h3>Day5</h3></div>
						<div class="blog_post_text">
							<p>Breakfast
2 pieces French toast
1 scrambled egg
A glass of juice
Snack
A glass of green tea
4 multigrain cookies
Lunch
A cup of brown rice
Grilled chicken breast
A small portion of salad
Snack
150 grams of plain yogurt
An apple
Dinner
150 grams grilled fish
1 cup of baked beans
1 chapati
Snack
A cup green tea
1 oat cookies</p>
						</div>
					</div>
				</div>






				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "dietplan/d7.jpg"%}" alt=""></div>
						<div class="blog_post_title"><h3>Day6</h3></div>
						<div class="blog_post_text">
							<p>Breakfast
A cup porridge (dalia)
2 boiled eggs
2 slices of whole wheat bread
Snack
A bowl of fresh fruits
Lunch
A large portion of salad
A bowl of brown rice
100 grams cooked boneless chicken
Snack
150 grams of plain yogurt
1 bowl of grapes
Dinner
100 grams of grilled fish
2 egg omelette
2 chapatis
Snack
200 ml low fat milk
2 multigrain cookies</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "dietplan/d8.jpg" alt="" %}"></div>
						<div class="blog_post_title"><a href="#">Day7</a></div>
						<div class="blog_post_text">
							<p>Breakfast
One cup of oatmeal
One cup of strawberries
A glass of fresh fruit juice
Snack
2 boiled eggs
2 slices of whole wheat bread with peanut butter
Lunch
100 grams of cooked veggies
1 cup of brown rice
100 grams of plain yogurt
Snack
A bowl of fresh fruits
Dinner
150 grams of grilled fish
1 chapati
A small cup of baked beans
Snack
A glass of low fat milk
2 oat cookies</p>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="{%static "dietplan/d9.jpg" alt="" %}"></div>
						<div class="blog_post_title"><h3>Meal Plan: 1,200 Calories</h3></div>
						<div class="blog_post_text">
							<p>A healthy diet and lifestyle are the best weapons to protect against heart disease. In fact, incorporating heart-healthy foods, exercising more, maintaining a healthy weight and not smoking can help reduce cardiovascular disease-related deaths by 50 percent. With this simple 1,200-calorie meal plan, you'll protect your heart and lose a healthy 1 to 2 pounds per week in the process.</p>
						</div>
					</div>
				</div>

      <!22222222222222.................................>

		 <div class="blog">
		 	<div class="container">
		 		<div class="row">
		 			<div class="col">
		 				<div class="section_title_container">
		 				</div>
		 			</div>
		 		</div>
		 		<div class="row blog_row">

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "dietplan/d10.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><h3>Day1</h3></div>
		 					<div class="blog_post_text">
		 						<p>Breakfast (271 calories)
• 1 serving Avocado Egg Toast
A.M. Snack (63 calories)
• 3/4 cup blueberries
Lunch (316 calories)
Chickpea & Veggie Salad
• 2 cups mixed greens
• 3/4 cup veggies of your choice (try cucumbers and tomatoes)
• 2/3 cup chickpeas, rinsed
• 1 Tbsp. almonds, chopped
Combine ingredients and top salad with 1 Tbsp. red-wine vinegar, 2 tsp. olive oil and freshly ground pepper.
P.M. Snack (62 calories)
• 1 medium orange
Dinner (470 calories)
• 1 serving Seared Salmon with Green Peppercorn Sauce
• 1 cup steamed green beans
• 1 baked medium red potato, drizzled with 1/2 Tbsp. olive oil and a pinch each of salt and pepper.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "dietplan/d11.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><h3>Day2</h3></div>
		 					<div class="blog_post_text">

<p>Breakfast (287 calories)
• 1 cup bran cereal
• 1 cup skim milk
• 1/2 cup blueberries
A.M. Snack (95 calories)
• 1 medium apple
Lunch (325 calories)
• 1 serving Veggie-Hummus Sandwich
P.M. Snack (80 calories)
• 3/4 medium red bell pepper, sliced
• 2 Tbsp. hummus
Dinner (426 calories)
• 2 cups Roasted Tofu & Peanut Noodle Salad
Meal Prep Tip: Pack up the leftovers from dinner tonight to take for lunch on Day 3.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "dietplan/d12.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><h3>Day3</h3></div>
		 					<div class="blog_post_text">
		 						<p>Breakfast (276 calories)
• 1 cup nonfat plain Greek yogurt
• 1/2 cup blueberries
• 1 1/2 Tbsp. slivered almonds
• 2 tsp. honey
Top yogurt with blueberries, almonds and honey.
A.M. Snack (102 calories)
• 2 medium carrots
• 2 Tbsp. hummus
Lunch (320 calories)
• 1 1/2 cups Roasted Tofu & Peanut Noodle Salad
P.M. Snack (46 calories)
• 1 cup strawberries
Dinner (437 calories)
• 1 serving Grilled Romaine with Avocado-Lime Dressing
• 4 oz. cooked chicken breast, cooked in 1 1/2 tsp. olive oil and seasoned with 1/4 tsp. cumin and a pinch each of salt and pepper
• 3/4 cup cooked quinoa</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "dietplan/d13.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><h3>Day4</h3></div>
		 					<div class="blog_post_text">
		 						<p>Breakfast (265 calories)
• 1 cup bran cereal
• 1 cup skim milk
• 1/4 cup blueberries
A.M. Snack (95 calories)
• 1 medium apple
Lunch (335 calories)
Green Salad with Chicken
• 3 cups mixed greens
• 3 oz. leftover cooked chicken breast
• 5 cherry tomatoes, halved
• 1/2 cup cucumber slices
• 1/4 cup shredded carrot
Combine ingredients and top salad with 1 Tbsp. red-wine vinegar and 2 tsp. olive oil.
P.M. Snack (62 calories)
• 1 medium orange
Dinner (461 calories)
• 1 serving Cod with Tomato Cream Sauce
• 1/2 cup cooked brown rice
• 2 cups mixed greens, topped with 1 Tbsp. balsamic vinegar and 2 tsp. olive oil.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "dietplan/d14.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><h3>Day5</h3></div>
		 					<div class="blog_post_text">
		 						<p>Breakfast (293 calories)
• 1/2 cup rolled oats, cooked in 1 cup milk
• 1/2 cup sliced strawberries
Cook oats and top with strawberries and a pinch of cinnamon.
A.M. Snack (64 calories)
• 1/2 bell pepper, sliced
• 2 Tbsp. hummus
Lunch (319 calories)
Toaster-Oven Tostadas
• 2 corn tortillas
• 2/3 cup canned black beans, rinsed
• 1/2 bell pepper, sliced
• 2 Tbsp. shredded Cheddar cheese
• 2 Tbsp. salsa or pico de gallo
Top tortillas with beans, bell pepper and cheese. Toast until the cheese begins to melt. Top with salsa.
P.M. Snack (42 calories)
• 1/2 cup blueberries
Dinner (410 calories)
• 1 1/4 cups Chicken Cauliflower Fried "Rice"
• 2 cups mixed greens, topped with 1 Tbsp. red wine vinegar and 2 tsp. olive oil.
P.M. Snack (92 calories)
• 3/4 cup Mango & Kiwi with Fresh Lime Zest
Meal-Prep Tip: Pack up the leftovers from dinner tonight to take for lunch on Day 6.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "dietplan/d15.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><h3>Day6</h3></div>
		 					<div class="blog_post_text">
		 						<p>Breakfast (286 calories)
• 1 cup bran cereal
• 1 cup skim milk
• 1/2 cup blueberries
A.M. Snack (62 calories)
• 1 medium orange
Lunch (347 calories)
• 1 1/4 cups Chicken Cauliflower Fried "Rice"
• 1 kiwi fruit
P.M. Snack (46 calories)
• 1 cup strawberries
Dinner (457 calories)
• 1 serving Toaster-Oven Tostada</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "dietplan/d16.jpg" alt=""%}"></div>
		 					<div class="blog_post_title"><h3>Day7</h3></div>
		 					<div class="blog_post_text">
		 						<p>Breakfast (271 calories)
• 1 serving Avocado Egg Toast
A.M. Snack (115 calories)
• 3/4 cup blueberries
• 1 Tbsp. unsalted dry-roasted almonds
Lunch (308 calories)
Tuna & White Bean Spinach Salad
• 2 cups spinach
• 2.5 oz. chunk light tuna in water, drained
• 1/2 cup canned white beans, rinsed
• 3/4 cup veggies of your choice (try tomatoes & cucumbers)
Combine ingredients and top salad with 1 Tbsp. red-wine vinegar and 2 tsp. olive oil.
P.M. Snack (62 calories)
• 1 medium orange
Dinner (440 calories)
• 1 serving Lemongrass Pork & Spaghetti Squash Noodle Bowl</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "dietplan/d17.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><h3>Want to Lose Weight in 7 Days? </h3></div>
		 					<div class="blog_post_text">
		 						<p>How to Lose Weight in a Week, is that the question on your mind? We have a solution - a 7 Day Weight Loss Plan. When it comes to losing weight, many of us look either for an easy weight loss plan or a quick fix. We all want to lose those pounds fast. There are diet pills and extreme dieting programs that we can resort to for quick weight loss, but they are not for everyone.</p>
		 					</div>
		 				</div>
		 			</div>

		 			<!-- Blog Post -->
		 			<div class="col-xl-4 col-md-6 blog_col">
		 				<div class="blog_post">
		 					<div class="blog_post_image"><img src="{%static "dietplan/d18.jpg" alt="" %}"></div>
		 					<div class="blog_post_title"><h3> Day1</h3></div>
		 					<div class="blog_post_text">
		 						<p>Breakfast:
A slice of toast with 2 tablespoons of peanut butter.
Half a grapefruit.
A cup of coffee or tea (optional).
Lunch:
A slice of toast.
Half a cup of tuna.
A cup of coffee or tea (optional).
Dinner:
A 3-oz (85 grams) serving of meat with a cup of green beans.
A small apple.
Half a banana.
One cup vanilla ice cream.
</p>
		 					</div>
		 				</div>
		 			</div>








							 <div class="blog">
							 	<div class="container">
							 		<div class="row">
							 			<div class="col">
							 				<div class="section_title_container">
							 				</div>
							 			</div>
							 		</div>
							 		<div class="row blog_row">

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "dietplan/d19.jpg" alt="" %}"></div>
							 					<div class="blog_post_title"><h3>Day2</h3></div>
							 					<div class="blog_post_text">
							 						<p>Breakfast:
A slice of toast.
One hard-boiled egg.
Half a banana.
A cup of coffee or tea (optional).
Lunch:
One hard-boiled egg.
A cup of cottage cheese.
5 saltine crackers.
A cup of coffee or tea (optional).
Dinner:
Two hot dogs, with no bun.
Half a cup of carrots and half a cup of broccoli.
Half a banana.
Half a cup of vanilla ice cream.</p>
							 					</div>
							 				</div>
							 			</div>

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "dietplan/d20.jpg" alt="" %}"></div>
							 					<div class="blog_post_title"><h3>Day3</h3></div>
							 					<div class="blog_post_text">
							 						<p>Breakfast:
A 1-ounce slice of cheddar cheese.
5 saltine crackers.
A small apple.
A cup of coffee or tea (optional).
Lunch:
A slice of toast.
One egg, cooked however you like.
A cup of coffee or tea (optional).
Dinner:
A cup of tuna.
Half a banana.
1 cup of vanilla ice cream.</p>
							 					</div>
							 				</div>
							 			</div>

							 			<!-- Blog Post -->
							 			<div class="col-xl-4 col-md-6 blog_col">
							 				<div class="blog_post">
							 					<div class="blog_post_image"><img src="{%static "dietplan/d21.jpg" alt="" %}"></div>
							 					<div class="blog_post_title"><h3>The Remaining 4 Days</h3></div>
							 					<div class="blog_post_text">
							 						<p>The remainder of the week also involves dieting.
Snacks are permitted and there are no food group restrictions. However, you are encouraged to limit portion sizes and keep total calorie intake under 1,500 per day.
You can find a list of websites and apps to track your calorie intake in this article.
There are no other rules for the remaining 4 days of the diet.</p>
							 					</div>
							 				</div>
							 			</div>



										          <!-- Footer -->
										            <footer id="footer" class="footer">
										              <!-- Your Company Name -->
										             <h2> ...............THANKS FOR VISITING SPARTAN FITNESS............</h2>
										                  <img src="{%static "images/logo-icon1.jpg" %}" width="200" alt="Logo" >
																			<marquee direction="left"> JOIN SPARTAN CLUB .EMAIL US:1)saurabhgavali12@gmail.com </marquee>


										          </footer>


</body>
</html>
